body {
    background: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: rgb(159, 72, 196);
    text-align: center;
    font-weight: bold;
}

h2 {
    color: black;
    text-align: center;
    font-style: italic;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects h2 {
    width: 100%;
}

.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: lightslategray;
    border-radius: 25%;
}

.project h3 {
    margin-left: 50px;
}

.project img {
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid navy;
    display: block;
    text-align: center;
}

.project p {
    text-align: center;
    margin: 15px;
}